<h1>{{ title }}</h1>
<button (click)="helloWorld()">Click on me!</button>
<input type="text" [value]="name" />
<progress max="100" [value]="advance"></progress>

<h2>Formulario</h2>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
        <label for="name">Nombre:</label>
        <input type="text" required name="name" id="name" [(ngModel)]="register.name">
        <p>Oh no! Este es un mensaje de error</p>
        <label for="email">Email:</label>
        <input type="email" required name="email" id="email" [(ngModel)]="register.email">
        <p>Oh no! Este es un mensaje de error</p>
        <label for="password">Contraseña:</label>
        <input type="password" required name="password" id="password" [(ngModel)]="register.password">
        <p>Oh no! Este es un mensaje de error</p>
    </div>
    <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>

<h2>Ejemplo de Ng Model</h2>
<p>{{ name }}</p>
<input type="text" [(ngModel)]="name" />

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="box.width" />
    <input type="text" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div
      [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        display: 'block'
      }"
    ></div>
  </div>
</div>

<div class="box"></div>

<h2>Ejemplo de *ngFor Objs</h2>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image" />
    <h3>{{ product.name }}</h3>
    <p>{{ product.price }}</p>
  </div>
</div>
